@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="h1 mt-5">Política de Privacidad</div>

<div class="fs-4 mt-5 col-5 border-bottom border-danger">1. Identidad y Contacto del Titular de la Web</div>
<br/>

Nombre de la Empresa: ProjectManagments S.L.
<br />
Dirección: Calle Ejemplo, 123, 28001 Madrid, España
<br />
Correo de contacto: info@proyectosweb.com
<br />
<br />

<div class="fs-4 col-5 border-bottom border-danger">2. Datos Personales Recopilados</div>
<br />

Recopilamos los siguientes datos personales de nuestros usuarios:

Nombres y apellidos
Direcciones de correo electrónico
Relaciones de responsabilidad con la empresa contratante
Información sobre los proyectos gestionados
<br />
<br />

<div class="fs-4 col-5 border-bottom border-danger">3. Métodos de Recopilación de Datos</div>
<br />

Los datos se recopilan a través de:

Formularios de registro
Interacciones con la aplicación
Cookies y seguimiento de actividad
<br />
<br />

<div class="fs-4 col-5 border-bottom border-danger">4. Finalidad de la Recopilación de Datos</div>
<br />

Los datos se utilizan para:

Gestionar proyectos de clientes
Enviar posibles notificaciones relevantes para el servicio prestado
Personalizar y mejorar la experiencia del usuario
<br />
<br />

<div class="fs-4 col-5 border-bottom border-danger">5. Almacenamiento y Seguridad de los Datos</div>
<br />

Los datos se almacenan de forma segura en servidores protegidos con medidas de seguridad como encriptación y acceso restringido.
Solo los administradores y resposables directos podrán contactar con el cliente para llevar a cabo las medidas oportunas
<br />
<br />

<div class="fs-4 col-5 border-bottom border-danger">6. Compartir Datos con Terceros</div>
<br />

No compartimos datos con terceros sin el consentimiento del usuario.
Los datos e informacion de los proyectos gestionados permanecen íntegramente en los servidores de la empresa hasta finalizar el servicio.
Tras esto, son permanentemente eliminados de nuestros sistemas.
<br />
<br />

<div class="fs-4 col-5 border-bottom border-danger">7. Derechos del Usuario</div>
<br />

Los usuarios tienen derecho a acceder, corregir o eliminar sus datos personales. Pueden contactarnos para ejercer estos derechos.
<br />
<br />

<div class="fs-4 col-5 border-bottom border-danger">8. Cookies y Tecnologías de Seguimiento</div>
<br />

Existe la posibilidad de utilizar cookies para mejorar la experiencia del usuario. 
Dependiendo del ambito de uso, los usuarios pueden administrar sus preferencias de cookies directamente en la configuración de su navegador.
<br />
<br />

<div class="fs-4 col-5 border-bottom border-danger">9. Cambios en la Política de Privacidad</div>
<br />

Nos reservamos el derecho de actualizar esta política de privacidad. Los cambios se notificarán a los correspondientes usuarios de la aplicación.
